.ceibo-btns:focus { 
    outline: none; 
    width: 96px!important;
    height: 24.8px!important;
}

.ceibo-btns {
    width: 96px!important;
    height: 24.8px!important;
    border-radius: 1rem;
    font-family: Lato;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    line-height: 14.4px;
    text-align: center;
    border: 0.75px solid #ADBDC2;
    background-color: transparent;
    margin-right: 10px;
    cursor: pointer;
}

.cian-btn {
    color: #07A7B1;
}

.cian-btn.active-btn {
    background: #07A7B1;
    color: #FFFFFF;
    border-color: #07A7B1;
}

.cian-btn:hover {
    background: #07A7B1;
    color: #FFFFFF;
    border-color: #07A7B1;
}

.orange-btn {
    color: #FF8A00;
}

.orange-btn.active-btn {
    background: #FF8A00;
    color: #FFFFFF;
    border-color: #FF8A00;
}

.orange-btn:hover {
    background: #FF8A00;
    color: #FFFFFF;
    border-color: #FF8A00;
}

.green-btn {
    color: #669B00;
}

.green-btn.active-btn {
    background: #669B00;
    color: #FFFFFF;
    border-color: #669B00;
}

.green-btn:hover {
    background: #669B00;
    color: #FFFFFF;
    border-color: #669B00;
}

.violet-btn {
    color: #CA02EB;
}

.violet-btn.active-btn {
    width: 96px!important;
    height: 24.8px!important;
    background: #CA02EB;
    color: #FFFFFF;
    border-color: #CA02EB;
}

.violet-btn:hover {
    background: #CA02EB;
    color: #FFFFFF;
    border-color: #CA02EB;
}

.red-btn {
    color: #FC0435;
}

.red-btn.active-btn {
    width: 96px!important;
    height: 24.8px!important;
    background: #FC0435;
    color: #FFFFFF;
    border-color: #FC0435;
}

.red-btn:hover {
    background: #FC0435;
    color: #FFFFFF;
    border-color: #FC0435;
}
