.ceibo-table{
  width: 100%;
  margin-left: 3px!important;
}

.ceibo-table thead tr th{
  padding: 10px 5px;
}

.ceibo-table tbody tr th{
  padding: 10px 5px;
}

.ceibo-table tbody{
  color: #3E5762;
}

.ceibo-table {
  box-shadow: 0px -2px 8px rgba(101, 133, 143, 0.1), -4px 4px 4px rgba(101, 133, 143, 0.1);
}

.ceibo-table thead th:first-child{
  border-radius:8px 0px 0px 0px;
}

.ceibo-table thead th:last-child{
  border-radius:0px 8px 0px 0px;
}

.ceibo-table .accordion-row{
  background-color: white;
}

.cian-border tbody tr.collapse-row{
  box-shadow:-10px 0px 0px 0px #07A7B1;
  border-radius: 8px;
  background-color:white;
  margin:0px auto;
}

.orange-border tbody .collapse-row{
  box-shadow:-10px 0px 0px 0px #FF8A00;
  border-radius: 8px;
  background-color:white;
  margin:0px auto;
}

.red-border tbody .collapse-row{
  box-shadow:-10px 0px 0px 0px #FC0435;
  border-radius: 8px;
  background-color:white;
  margin:0px auto;
}

.green-border tbody .collapse-row{
  box-shadow:-10px 0px 0px 0px #96CA29;
  border-radius: 8px;
  background-color:white;
  margin:0px auto;
}

.violet-border tbody .collapse-row{
  box-shadow:-10px 0px 0px 0px #CA02EB;
  border-radius: 8px;
  background-color:white;
  margin:0px auto;
}

.ceibo-table .collapse-row{
  border-bottom: 0.25px solid #C4C4C4;
}

.ceibo-table thead {
  color: #65858F;
  border-bottom: 1px solid #C4C4C4;
  background-color: #F5F5F5;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ceibo-table .orderable .material-icons{
  font-size: 15px!important;
  font-weight: bolder;
  cursor: pointer;
}

.ceibo-table .collapse-row:last-of-type{
  border-bottom: none!important;
}

.ceibo-table tbody th{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

/*Paginado de tabla*/
.ceibo-table-footer .step{
  padding: 3px;
  width: 35px;
  height: 35px;
  text-align: center;
  background: #FFFFFF;
  margin:5px;
  box-shadow: 0px -2px 8px rgba(101, 133, 143, 0.1), -4px 4px 4px rgba(101, 133, 143, 0.1);
  border-radius: 4px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  line-height: 32px;
  display: flex;
  display: inline-block;
  -ms-flex-wrap: wrap;
  color: #65858F;
  flex-wrap: wrap;
  cursor: pointer;
}


.ceibo-table-footer .step .material-icons{
  font-size: 15px!important;
  font-weight: bolder;
}

.ceibo-table-footer .step.active-step{
  background: #65858F!important;
  color: white;
}



